<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CCM TJ AL{% endblock %}</title>
    {% load static %}
    <link href="{% static '/ccmtj/css/output.css' %}" rel="stylesheet">
    <link href="{% static '/ccmtj/css/styles.css' %}" rel="stylesheet">
</head>

<body class="h-screen flex flex-col items-center justify-start bg-[#071F49]">
    <nav
        class="fixed top-0 left-0 bg-[#943130] flex flex-row items-center h-[64px] w-[238px] rounded-br-full justify-center gap-4">
        <a id="back-nav-button" href="{% url 'home' %}"
            class="flex items-center justify-center w-10 h-10 bg-[#071F49] rounded-full ml-[-6px]">
            <img src="{% static 'ccmtj/icons/seta-voltar-pagina.svg' %}" alt="Botao voltar página inicial"
                class="w-6 h-12 object-contain">
        </a>
        <a href="{% url 'qr_scan' %}" class="flex items-center justify-center w-14 h-14">
            <img src="{% static 'ccmtj/icons/escanear.svg' %}" alt="Botao escanear QRCODE"
                class="w-14 h-14 object-contain">
        </a>
        <a href="{% url 'home' %}" class="flex items-center justify-center w-14 h-14 ml-[-6px]">
            <img src="{% static 'ccmtj/icons/home.svg' %}" alt="Botao escanear QRCODE" class="w-12 h-12 object-contain">
        </a>
    </nav>

    <img src="{% static 'ccmtj/images/logo-ccmtj.png' %}" alt="Logo CCMTJAL"
        class="w-[130px] h-[130px] mt-28 mb-[42px] object-contain">

    <a href="{% url 'selfie_historica' %}" 
   class="w-[273px] h-[69px] bg-[#943130] rounded-full flex flex-row justify-left items-center gap-2 hover:opacity-80 transition duration-200">
    <img src="{% static 'ccmtj/icons/selfie.svg' %}" alt="Ícone Selfie" class="w-14 h-14 ml-[26px]">
    <span class="font-FuturaMedium text-white text-[18px]">SELFIE HISTÓRICA</span>
    </a>

    <div class="flex flex-col items-center gap-4 mt-[56px]">
        <div class="flex flex-row items-center gap-10 mb-6" id="image-navbar">
            <button id="prev"
                class="w-[35px] h-[35px] flex items-center justify-center bg-white rounded-full cursor-pointer">
                <img src="{% static 'ccmtj/icons/seta-em-selfie-azul.svg' %}" alt="Seta esquerda" class="w-4 h-4 scale-x-[-1]">
            </button>

            <div class="flex flex-col items-center justify-center">
                <span class="text-white font-FuturaDemi text-[18px]">TIRE UMA SELFIE COM UM</span>
                <span class="text-white font-FuturaBold text-[18px]">PERSONAGEM DA HISTÓRIA</span>
            </div>
            <button id="next"
                class="w-[35px] h-[35px] flex items-center justify-center bg-white rounded-full cursor-pointer">
                <img src="{% static 'ccmtj/icons/seta-em-selfie-azul.svg' %}" alt="Seta esquerda" class="w-4 h-4">
            </button>
        </div>

        <div class="relative">
            {% if thumbs %}
                <h2 class="absolute bottom-6 left-1/2 transform -translate-x-1/2 text-white font-FuturaDemi text-[20px] whitespace-nowrap"
                    id="image-name">{{ thumbs.0.nome }}</h2>
                <img id="displayed-image" src="{{ thumbs.0.imagem.url }}" alt="Imagem atual"
                    class="w-[311px] h-[380px] border-2 border-l-1 border-white cursor-pointer" id="image-to-display">
            {% else %}
                <p>Não há imagens disponíveis.</p>
            {% endif %}
        </div>
    </div>

    <div id="hidden-content" class="hidden flex flex-col items-center relative w-full">
        <div class="relative w-full flex justify-end px-4">
            <img id="related-image" src="" alt="Imagem relacionada" 
                 class="w-[341px] h-auto object-contain mr-[-20px]">
            
            <button class="absolute left-10 top-[-20px] w-[128px] h-[128px] rounded-full bg-[#051833] flex flex-col items-center justify-center cursor-pointer">
                <img src="{% static 'ccmtj/icons/tirar-selfie.svg' %}" alt="Ícone Selfie" class="w-[90px] h-[90px] object-contain">
                <span class="font-FuturaDemi text-[12px] text-white mt-[-10px]">TIRAR SELFIE</span>
            </button>
            <span id="character-name" class="font-FuturaBold text-[18px] absolute left-10 top-[126px] text-bold text-white text-center uppercase w-full max-w-[140px]"></span>
        </div>
    
        <div class="absolute bottom-0 left-1/2 transform -translate-x-1/2 w-[90%] max-w-[380px] bg-black opacity-46 p-4 rounded-[50px]">
            <p id="image-description" class="text-white font-FuturaMedium text-[13px] text-center"></p>
        </div>
    </div>

    <footer class="w-full min-h-[75px] bg-black flex items-center justify-center opacity-15 mt-30">
        <p class="text-white font-FuturaMedium text-[17px]">Imagens meramente ilustrativas</p>
    </footer>
    
    <script>
        const thumbs = [
            {% for thumb in thumbs %}
            {
                "imagem": "{{ thumb.imagem.url }}",
                "nome": "{{ thumb.nome }}",
                "personagemSelfie": "{{ thumb.personagemSelfie.url }}",
                "descricao": "{{ thumb.descricao|escapejs }}"
            },
            {% endfor %}
        ];

        let currentIndex = 0;
        let isViewingDescription = false;

        function updateImage() {
            const imageElement = document.getElementById('displayed-image');
            const nameElement = document.getElementById('image-name');
            if (thumbs.length > 0 && thumbs[currentIndex].imagem) {
                imageElement.src = thumbs[currentIndex].imagem;
                nameElement.innerText = thumbs[currentIndex].nome;
            }
        }

        function backToImageNavigation() {
            document.getElementById('displayed-image').style.display = "block";
            document.getElementById('image-name').style.display = "block";
            document.getElementById('image-navbar').style.display = "flex";
            
            document.getElementById('hidden-content').classList.add('hidden');
            
            isViewingDescription = false;
            
            document.getElementById('back-nav-button').setAttribute('href', "{% url 'home' %}");
        }

        function goToHome() {
            window.location.href = "{% url 'home' %}";
        }

        document.getElementById('back-nav-button').addEventListener('click', function(e) {
            if (isViewingDescription) {
                e.preventDefault(); 
                backToImageNavigation();
            }
        });

        document.getElementById('prev').addEventListener('click', function () {
            if (currentIndex > 0) {
                currentIndex--;
            } else {
                currentIndex = thumbs.length - 1;
            }
            updateImage();
        });

        document.getElementById('next').addEventListener('click', function () {
            if (currentIndex < thumbs.length - 1) {
                currentIndex++;
            } else {
                currentIndex = 0;
            }
            updateImage();
        });

        document.getElementById('displayed-image').addEventListener('click', function () {
            this.style.display = "none";
            document.getElementById('image-name').style.display = "none";
            document.getElementById('image-navbar').style.display = "none";
            
            const hiddenContent = document.getElementById('hidden-content');
            const relatedImage = document.getElementById('related-image');
            const imageDescription = document.getElementById('image-description');
            const characterName = document.getElementById('character-name');
            
            if (thumbs[currentIndex].personagemSelfie) {
                relatedImage.src = thumbs[currentIndex].personagemSelfie;

                if (thumbs[currentIndex].personagemSelfie.includes('Tia_Marcelina.png')) {
                    relatedImage.classList.remove('w-[341px]');
                    relatedImage.classList.add('w-[250px]');
                } else {
                    relatedImage.classList.remove("w-[250px]");
                    relatedImage.classList.add("w-[341px]");
                }
            }
            imageDescription.textContent = thumbs[currentIndex].descricao;
            characterName.textContent = thumbs[currentIndex].nome;
            hiddenContent.classList.remove('hidden');
            
            isViewingDescription = true;

            document.getElementById('back-nav-button').removeAttribute('href');
        });

        updateImage();
    </script>
</body>

</html>