<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CCM TJ AL{% endblock %}</title>
    {% load static %}
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="{% static '/ccmtj/css/styles.css' %}" rel="stylesheet">
</head>

<body class="min-h-screen flex flex-col items-center justify-start bg-[#071F49]">
    <nav
        class="fixed top-0 left-0 bg-[#0E428E] flex flex-row items-center h-[64px] w-[238px] rounded-br-full justify-center gap-4">
        <a id="back-nav-button" 
   href="{% url 'info_app' %}"
   class="flex items-center justify-center w-10 h-10 bg-[#071F49] rounded-full ml-[-6px]">
    
    <img src="{% static 'ccmtj/icons/seta-voltar-pagina.svg' %}" 
         alt="Botão voltar"
         class="w-6 h-12 object-contain">
        </a>

        <a href="{% url 'qr_scan' %}" class="flex items-center justify-center w-14 h-14">
            <img src="{% static 'ccmtj/icons/escanear.svg' %}" alt="Botao escanear QRCODE"
                class="w-14 h-14 object-contain">
        </a>
        <a href="{% url 'home' %}" class="flex items-center justify-center w-14 h-14 ml-[-6px]">
            <img src="{% static 'ccmtj/icons/home.svg' %}" alt="Botao escanear QRCODE" class="w-12 h-12 object-contain">
        </a>
    </nav>
    <div class="flex flex-col gap-10 items-center">
        <img src="{% static 'ccmtj/images/logo-ccmtj.png' %}" alt="APP CCMTJAL" class="w-[128px] h-[128px] mt-[104px]">
        <h1 class="text-white text-center font-FuturaDemi text-[17px]">PROJETO EXPOSITIVO, PRODUÇÃO DE <br> CONTEÚDO E TECNOLOGIA <br>
             Estúdio Núcleo Zero <br> Coordenador de conteúdo, design e <br> tecnologia: Werner Salles Bagetti <br>
              Ilustrações e animações: Weber Salles Bagetti <br> Design e tecnologia: Ulysses Lins <br>
               Pesquisa e produção: Nina Magalhães <br> Pesquisa, produção e textos: Rafhael Barbosa <br>
                Controller: Tiago Leão <br> Revisão: Nilton Resende <br> Digitalização de acervos: Flávia Correia <br>
                 Fotos da Coleção Perseverança: Larissa Fontes <br><br> PROJETO MUSEOGRÁFICO <br> <br>Consultoria: Adriana Guimarães <br>
                  Desenho: Carla Cansanção <br> Maquete: Fernando Pedroza</h1>
        <h2 class="text-white font-FuturaBook text-[16px] mt-10">© 2024 APP DESENVOLVIDO POR NÚCLEO ZERO</h2>
        <h3 class="text-white font-FuturaLight text-[16px]">VERSÃO 0.1</h3>
    </div>
        
</body>
 
</html>