<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CCM TJ AL{% endblock %}</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background: transparent linear-gradient(0deg, #071F49 44%, #1D1D1B 100%) 0% 0% no-repeat padding-box;
        }
    </style>
</head>

<body class="min-h-screen flex items-center justify-center">

</body>

</html>