<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CCM TJ AL{% endblock %}</title>
    {% load static %}
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="{% static '/ccmtj/css/styles.css' %}" rel="stylesheet">
</head>
<body class="min-h-screen flex flex-col items-center justify-start bg-[#272628]">
    <nav class="absolute top-[39px] left-[50px]">
        <a class="w-[50px] h-[50px] bg-[#F5A017] rounded-full flex items-center justify-center cursor-pointer" href="{% url 'home' %}">
            <img src="{% static 'ccmtj/icons/seta-voltar-pagina.svg' %}" alt="Voltar página" class="w-[30px] ml-[-4px]">
        </a>
    </nav>
    <img src="{% static 'ccmtj/images/logo-ccmtj.png' %}" alt="APP CCMTJAL" 
             class="w-[130px] h-[130px] mt-[104px] mb-6">
    <span class="font-FuturaBold text-[22px] text-white text-center mb-[40px]">CONTEÚDO EXCLUSIVO</span>
    <div class="grid grid-cols-2 gap-x-20 gap-y-6">
        <!-- Botao Videos -->
        <a href="#" class="flex flex-col items-center space-y-[14px] w-full">
            <img src="{% static 'ccmtj/icons/video.svg' %}" alt="Videos exclusivos" class="w-[60px] h-[60px]">
            <span class="text-[17px] font-FuturaMedium text-white">VÍDEOS</span>      
        </a>
        <!-- Botao Imagens -->
        <a href="#" class="flex flex-col items-center space-y-[12px] w-full">
            <img src="{% static 'ccmtj/icons/imagens.svg' %}" alt="Videos exclusivos" class="w-[62px] h-[62px]">
            <span class="text-[17px] font-FuturaMedium text-white">IMAGENS</span>      
        </a>
        <!-- Botao Passeio 360 -->
        <a href="#" class="flex flex-col items-center space-y-[8px] w-full">
            <img src="{% static 'ccmtj/icons/360.svg' %}" alt="Videos exclusivos" class="w-[70px] h-[70px]">
            <span class="text-[17px] font-FuturaMedium text-white">PASSEIO 360º</span>      
        </a>
        <!-- Botao Documentos -->
        <a href="#" class="flex flex-col items-center space-y-[16px] w-full">
            <img src="{% static 'ccmtj/icons/documentos.svg' %}" alt="Videos exclusivos" class="w-[62px] h-[62px]">
            <span class="text-[17px] font-FuturaMedium text-white">DOCUMENTOS</span>      
        </a>
    </div>
    <div class="flex flex-col mt-6">
        <img src="{% static 'ccmtj/icons/logo2-ccmtj.svg' %}" alt="logo-ccmtj" class="w-[265px] h-[120px]">
        <div class="flex flex-col items-center mt-8 mb-2">
            <a href="#" class="flex flex-col items-center space-y-2">
                <img src="{% static 'ccmtj/icons/info-app.svg' %}" alt="Info App" class="h-5 w-5">
                <span class="text-xs font-FuturaBook text-white">SOBRE O APP</span>
            </a>
        </div>
    </div>
</body>
</html>