<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CCM TJ AL{% endblock %}</title>
    {% load static %}
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/jsqr"></script>
    <link href="{% static '/ccmtj/css/styles.css' %}" rel="stylesheet">
    <script src="{% static 'ccmtj/js/qr-scan.js' %}" defer></script>
</head>
<body class="h-screen flex flex-col bg-[#071F49]">
    <nav class="absolute top-[32px] left-[36px]">
        <a class="w-[50px] h-[50px] bg-[#57A45D] rounded-full flex items-center justify-center cursor-pointer" href="{% url 'home' %}">
            <img src="{% static 'ccmtj/icons/seta-voltar-pagina.svg' %}" alt="Voltar página" class="w-[30px] ml-[-4px]">
        </a>
    </nav>

    <div class="flex flex-col items-center justify-center h-screen">
        <img src="{% static 'ccmtj/images/logo-ccmtj.png' %}" alt="APP CCMTJAL" 
             class="w-[130px] h-[130px] mt-4 mb-6">
    
        <div class="relative bg-white w-[364px] h-[550px] rounded-[30px] border border-[#707070] flex flex-col items-center justify-center">
            <video id="video" class="absolute inset-0 w-full h-full object-cover rounded-[30px]"></video>
            
            <canvas id="canvas" class="hidden"></canvas>
            <button id="scan-btn" class="absolute bottom-[-30px] left-1/2 -translate-x-1/2 
                           w-[72px] h-[72px] rounded-full flex items-center justify-center bg-[#57A45D] shadow-lg">
                <img src="{% static 'ccmtj/icons/botao-de-tirar-foto.svg' %}" alt="Botão" class="w-[50px] h-[50px]">
            </button>
        </div>
    </div>
</body>
</html>
