<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CCM TJ AL{% endblock %}</title>
    {% load static %}
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="{% static '/ccmtj/css/styles.css' %}" rel="stylesheet">
    <style>
        body {
            background: transparent linear-gradient(0deg, #071F49 54%, #1D1D1B 100%) 0% 0% no-repeat padding-box;
        }
    </style>
</head>

<body class="min-h-screen flex flex-col items-center justify-start">
    <img src="{% static 'ccmtj/images/logo-ccmtj.png' %}" alt="APP CCMTJAL" class="w-[130px] h-[130px] mt-[60px] mb-10">

    <!-- Grid Botoes -->
    <div class="grid grid-cols-2 gap-x-28 gap-y-10">
        <!-- Botao Ler QRCODE -->
        <a href="{% url 'qr_scan' %}" class="flex flex-col items-center space-y-2 w-full">
            <img src="{% static 'ccmtj/icons/escanear.svg' %}" alt="Escanear" class="w-12 h-12">
            <span class="text-sm font-FuturaMedium text-white">LER QRCODE</span>
        </a>
        <!-- Botao Selfie Histórica -->
        <a href="{% url 'selfie_historica' %}" class="flex flex-col items-center space-y-2 w-full">
            <img src="{% static 'ccmtj/icons/selfie.svg' %}" alt="Selfie Histórica" class="w-12 h-12">
            <span class="text-sm font-FuturaMedium text-white">SELFIE HISTÓRICA</span>
        </a>
        <!-- Botao Agenda-->
        <a href="{% url 'agenda' %}" class="flex flex-col items-center space-y-2 w-full">
            <img src="{% static 'ccmtj/icons/agenda.svg' %}" alt="Agenda" class="w-12 h-12">
            <span class="text-sm font-FuturaMedium text-white">AGENDA</span>
        </a>
        <!-- Botao leve para Casa -->
        <a href="{% url 'leve_para_casa' %}" class="flex flex-col items-center space-y-2 w-full">
            <img src="{% static 'ccmtj/icons/home.svg' %}" alt="Leve para casa" class="w-12 h-12">
            <span class="text-sm font-FuturaMedium text-white">LEVE PARA CASA</span>
        </a>
        <!-- Botao Acessibilidade -->
        <a href="{% url 'acessibilidade' %}" class="flex flex-col items-center space-y-2 w-full">
            <img src="{% static 'ccmtj/icons/acessibilidade.svg' %}" alt="Acessibilidade" class="w-12 h-12">
            <span class="text-sm font-FuturaMedium text-white">ACESSIBILIDADE</span>
        </a>
        <!-- Botao CCMTJAL -->
        <a href="{% url 'ccmtjal' %}" class="flex flex-col items-center space-y-2 w-full">
            <img src="{% static 'ccmtj/icons/ccmtjal.svg' %}" alt="CCMTJAL" class="w-12 h-12">
            <span class="text-sm font-FuturaMedium text-white">CCMTJAL</span>
        </a>
        <!-- Botao Exposições -->
        <a href="{% url 'exposicoes' %}" class="flex flex-col items-center space-y-2 w-full">
            <img src="{% static 'ccmtj/icons/agenda.svg' %}" alt="Exposições" class="w-12 h-12">
            <span class="text-sm font-FuturaMedium text-white">EXPOSIÇÕES</span>
        </a>
    </div>

    <div class="flex items-center justify-between w-80 h-24 rounded-full mt-14 pr-10 bg-[#08142c]">
        <div class="flex-shrink-0">
            <img src="{% static 'ccmtj/icons/mao-com-celular.svg' %}" alt="Mao com celular" class="w-16 h-32 object-cover">
        </div>
        <span class="text-white font-FuturaLight text-sm flex-1 text-center pl-4">
            Aponte a câmera do celular para 
            <span class="font-FuturaBold">um QRCODE</span> 
            nos painéis, e tenha uma experiência ampliada
        </span>
    </div>

    <div class="flex flex-col items-center mt-10 mb-2">
        <a href="{% url 'info_app' %}?from=home" class="flex flex-col items-center space-y-2">
            <img src="{% static 'ccmtj/icons/info-app.svg' %}" alt="Info App" class="h-5 w-5">
            <span class="text-xs font-FuturaBook text-white">SOBRE O APP</span>
        </a>
    </div>
</body>

</html>
